#result{
    text-align: center;
    background-color: greenyellow;
    position: relative;
    top: 300px;
    padding: 25px 25px;
    border-radius: 20px;
}
.allDays{
    background-color: orange;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-left: 20px;
    padding-left:30px; 
    padding-right:30px; 
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    

}

#inputs{
    position: absolute;
    top:180px;
    left:500px;
}

#MyDateSelector{
    position: absolute;
    width: 200px;
    font-size: 20px;
    text-align: center;
    left: 130px;
    border-radius: 15px;
    background-color: greenyellow;
    color: white;
    border-color: orange;
    border-style: solid;
    
}
#ShowDayButton{
    border-radius: 15px;
    position: absolute;
    width: 204px;
    font-size: 20px;
    text-align: center;
    top: 50px;
    left: 130px;
    background-color: orange;
    color: white;
    border-color: greenyellow;
    border-style: solid;
}

.animation{
    animation-duration: 3s;
    position: relative;
    animation-name: animate;

}




@keyframes animate{
    0%{
        top: 0px;
        font-size: 10px;
        background-color:orange;
    }
    50%{
        top:10px;
        font-size: 60px;
        background-color:greenyellow;
    }
    100%{
        top: 0px;
        font-size: 10px;
        background-color:orange;
    }
}
