#display{
    background-color: black;
    color: white;
    width: 80px;
    height: 80px;
    position: absolute;
    left:50%;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
}

#start, #stop,#reverse,#reset{
    background-color: black;
    color: white;
    font-size: 14px;
    position: absolute;
    top:140px;
    text-align: center;
    border-radius: 10px;  
}

#start{
        left:650px;
}
#stop{
        left:700px;
}
#reverse{
        left:750px;
}

#reset{
        left:820px;
    
}
